<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ins.driver">

    <!-- bughd -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- xutils3 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 调用相册、相机 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.DriverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2ZBmXf3oVx5tSkrgGFbMsgLyGZynhIei" />

        <!-- bugHD -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="9d7c3a7b7aba5e2d106b59f333409358" />

        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="driver.HomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.StartUpActivity"
            android:label="@string/title_activity_startup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleFullscreen"></activity>
        <activity
            android:name=".ui.activity.LoadUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProgActivity"
            android:label="@string/title_activity_prog"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name=".ui.activity.IdentifyActivity"
            android:label="@string/title_activity_identify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
    </application>

</manifest>