<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ins.middle">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.ins.middle.ui.activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleFullscreen"></activity>
        <activity
            android:name="com.ins.middle.ui.activity.LoginActivity"
            android:label="@string/title_activity_Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <activity
            android:name="com.ins.middle.ui.activity.MeDetailActivity"
            android:label="@string/title_activity_medetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name="com.ins.middle.ui.activity.MeEditActivity"
            android:label="@string/title_activity_meedit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name="com.ins.middle.ui.activity.DomainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
