<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ins.kuaidi">

    <!-- bughd -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- xutils3 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 调用相册、相机 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--检查activity是否在前台-->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.KuaidiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YkjPku4cyoeSFodRxHVZdehX9NfX7Oem" />

        <!-- bugHD -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="189267649ea2a61542b6c5865c5ed368" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.JGReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ins.kuaidi" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ins.middle.ui.activity.DomainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoadUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleFullscreen">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="kuaidi.LoadUpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PayWeixinTestActivity"
            android:label="@string/title_activity_pay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.ins.middle.ui.activity.TestActivity"
            android:label="test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.activity.TestMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="testmap"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="kuaidi.HomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SearchAddressActivity"
            android:label="@string/title_activity_searchaddress"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name=".ui.activity.TripDetailActivity"
            android:label="@string/title_activity_tripdetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back">
            <intent-filter>
                <action android:name="kuaidi.TripDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ComplaintActivity"
            android:label="@string/title_activity_complaint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>

        <activity
            android:name=".ui.activity.PaywayActivity"
            android:label="@string/title_activity_payway"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back">
            <intent-filter>
                <action android:name="kuaidi.PaywayActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PaywaySetActivity"
            android:label="@string/title_activity_paywayset"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name=".ui.activity.CouponActivity"
            android:label="@string/title_activity_coupon"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back">
            <intent-filter>
                <action android:name="kuaidi.CouponActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SaleActivity"
            android:label="@string/title_activity_sale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name=".ui.activity.IdentifyActivity"
            android:label="@string/title_activity_identify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back">
            <intent-filter>
                <action android:name="kuaidi.IdentifyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".ui.activity.WXPayEntryActivity"-->
        <!--android:label="@string/title_activity_pay"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.Back"></activity>-->
        <activity
            android:name=".ui.activity.PayTestActivity"
            android:label="@string/title_activity_pay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>
        <activity
            android:name=".ui.activity.EvaActivity"
            android:label="@string/title_activity_eva"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back"></activity>

        <activity
            android:name=".ui.activity.StartUpActivity"
            android:label="@string/title_activity_startup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleFullscreen"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_pay"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Back" />
    </application>

</manifest>